footer {
    height:24px; 
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    bottom: 0pt;
    text-align: center;
    background-color: yellow;
}

header{
    width: 100%; 
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    position: fixed;
    top: 0pt;
    background-color: yellow;
    
}

form{
    display: grid;
    place-items: center;
    /* height: 100vh; */
    align-items: center;
    margin: 0;
    /* background-color: yellow; */
}

body{
    padding: 20px;
}