body {
    margin: 0;
    padding: 10px;
}
 
/* .App {
    text-align: center;
} */
 
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    font-size: 25px;
}

.Form.Label {
text-align: left;
}

.Form.Control::placeholder {
text-align: left;
}
  
  